*.ipynb
**/.ipynb_*
**/images
**.zip
**/saved_model

**.pyc

**.pt
**.onnx
*.png
*.jpeg

**.jpg 

**.DS_Store

dataset/data_augmentations/annotations
dataset/data_augmentations/data
dataset/data_augmentations/augmented_data
dataset/data_augmentations/test.ipynb